.titulo{
    color: white;
    text-align: center;
    border-top: 20px;
}
.pideDatos{
    color: white;
    text-align: center;
    border-top: 20px;
}
.botones{
    color: white;
    text-align: center;
    border-top: 20px;
}